.pagination .page-link {
  padding: 0.35rem 0.75rem;
  box-shadow: none;
  border-radius: 0.6rem; 
  background-color: white;
  border: 1px solid #dee2e6; 
  color: #495057;
}

.pagination .page-link:not([aria-label]) {
  margin: 0 5px;
}

.pagination .page-link[aria-label] {
  background-color: transparent; 
  border: none; 
  padding-left: 0.25rem;
  padding-right: 0.50rem;
}

.pagination .page-link:focus {
  box-shadow: none;
  outline: none;
}

.pagination .page-link[aria-label] svg {
  font-size: 1.0rem;
}

.pagination .page-item.active .page-link {
  background-color: #104D9C; 
  border: none; 
}

.pagination .page-item.disabled .page-link[aria-label] {
  color: #adb5bd;
}