.pagination .page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  box-shadow: none;
  border-radius: 0.6rem; 
  background-color: white;
  border: 1px solid #dee2e6; 
  color: #495057;
  margin: 0 3px;
}

.pagination .page-link[aria-label] {
  border: none;
  background-color: transparent;
}

.pagination .page-link:focus {
  box-shadow: none;
  outline: none;
}

.pagination .page-link[aria-label] svg {
  font-size: 1.0rem;
}

.pagination .page-item.active .page-link {
  background-color: #104D9C; 
  border: none; 
}

.pagination .page-item.disabled .page-link[aria-label] {
  color: #adb5bd;
}