/* src/pages/TalentPage.css */

.talent-search-input {
  border-radius: 0.5rem !important; 
  border-style: dotted !important; 
  border-width: 1px !important;    
  border-color: #adb5bd !important; 
}

.talent-add-btn {
  height: 40px;
}
 
.card-body {
  background-color: white;
  border: none;
  border-radius: 10px; 
}

.card-body .table {
  border: none;
}

.card-body .table > thead th:first-child {
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px; 
}

.card-body .table > thead th:last-child {
  border-top-right-radius: 10px; 
  border-bottom-right-radius: 10px;
}

.card-body .table > thead {
    border-bottom: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
}

.card-body .table > thead th {
    border: none;
}

.card-body .table > tbody td {
    background-color: #F8F9FA; 
    border: none;
}

.card-body .table > tbody tr td {
    border-bottom: 2px solid #c8c8c8;
}