.profile-page-background {
  background-color: #f8f9fa;
  padding-top: 0;
  padding-bottom: 100px;
}

.profile-page-background .card {
  border-radius: 16px;
}

.user-avatar-initials {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0d6efd;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.1rem;
}

.profile-header-card {
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #FFFFFF;
}

.profile-banner-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  margin: 1px 1px 0 1px;
  object-position: left;
  border-radius: 14px;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border: 4px solid white;
  margin-top: -60px;
  background-color: #eee;
}

.edit-icon-absolute {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  border-radius: 8px !important;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.footer-banner {
  background-color: #3b434c;
  color: white;
  border-top: 1px solid #495057;
}

.footer-banner .btn-link {
  text-decoration: none;
}

.progress-bar {
  background-color: #104D9C !important;
}

.styled-card-container {
  position: relative;
  margin-bottom: 1.5rem;
  padding-top: 4rem;
}

.styled-card-container .card {
  position: relative;
  z-index: 1;
  border-radius: 16px;
}

.styled-card-container::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #C2E2FA;
  border-radius: 16px;
  z-index: 0;
}

.styled-card-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  z-index: 1;
  padding: 0 1.5rem;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #f8f9fa;
  border-radius: 8px;
  margin-right: 1rem;
}

.icon-size-20 {
  width: 20px;
  height: 20px;
}

.icon-color-white {
  color: white;
}

.text-light-gray {
  color: #adb5bd;
}

.fs-small {
  font-size: 0.875rem;
}

.bg-translucent-white {
  background-color: #F8F9FA3D !important;
  border: 1px solid #dee2e6;
}

.btn-kembali {
  background-color: white;
  border: 1px solid #104D9C;
  color: #104D9C;
}